@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Add border to the form */
fieldset {
    margin: auto;
    margin-top: 5em;
    border: 3px black solid;
    padding: 3em;    
    border-radius: 10px;
    width: 30%;
    background-color:lightgray !important;
}

/* adds margin to TAMUC */
.navbar-header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: left;
    font-weight: bold;
}

/* changes the font color, and size of TAMUC */
.navbar-brand {
    color: goldenrod;
    font-size: 3rem;
}

/* centers the navbar links */


/* Navbar changes */
.nav li{
    font-size: 1.50rem;
    background-color: white;
    border: 2px black solid;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* background color to the site */
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/* adds a background to the navbar */
.hero-bg {
    background: rgb(18, 18, 85);
    background-position: 5% 75%;
    background-size: 300px 70px;
    background-repeat: no-repeat;
    border: 8px black solid;
    padding: none;
    margin: none;
}

/* boldens create account */
.fieldsetname {
    font-weight: bold;
}

/* boldens the account creation fields */
.control-label {
    font-weight: bold;
}

/* boldens password help field */
.help-block {
    font-weight: bold;
}

/* customizes the account creation button a bit */
.btn-warning {
    margin-top: 2em;
    color: black;
    background-color: goldenrod !important;
    width: 10em;
}

/* trying to remove button hover */
.btn-warning:hover {
    color: black;
}

/* adds some margin to the top of the TAMUC logo */
.tamuclogo {
    margin-top: 15px;
}

/* moves the forgot username to the left */
.forgotuser {
    font-weight: bold;
    float: left
}

/* moves the forgot passwork to the right */
.forgotpass {
    font-weight: bold;
    float: right;
}

/* moves the margin down on the login screen, overrides earlier fieldset */
.login {
    margin-top: 10em !important;
}

