fieldset {
    margin: auto;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
    width: 30%;
}

.navbar-header {
    margin-top: 1.5em;
}

.navbar-brand {
    color: goldenrod;
    font-size: 3rem;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.nav li{
    font-size: 1.75rem;
}

legend {
    padding: 2px;    
}

.nav {
    padding-bottom: 5em;
}
